/* kleuren
    #1A43B4, #e2e9fd
    #32A32F, #c8f9c7
    #C23E31, #f7d1ce
    #B82601
    #d4e5fd
*/

.blue {
    color: #1A43B4;
}

.green {
    color: #32A32F;
}

.red {
    color: #C23E31;
}

.orange {
    color: #CB6A37;
}

.fadein {
    animation: navbaropen .5s ease forwards;
}

.fadeout {
    animation: navbarclose .5s ease forwards;
}

/* basic */

* {
    scrollbar-width: thin;
    scrollbar-color: #707070 #000000;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #e2e9fd;
}

h1, h2, h3, p, a {
    margin: 0px;
}

h1 {
    font-weight: 300;
    font-size: 35px;
}

p {
    font-size: 20px;
}

button {
    padding: 10px 0px;
    width: 100%;
    font-size: 20px;
    background: none;
    border: #C23E31 2px solid;
    color: #C23E31;
    transition: color .4s ease;
    transition: background-color .4s ease;
    box-sizing: border-box;
}

button:hover {
    background-color: #C23E31;
    color: #f7d1ce;
}

/* nav */

nav {
    display: none;
    justify-content: space-around;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    padding: 15px 15%;
    z-index: 2;
    background-color: rgba(255, 255, 255, .7);
}

nav a {
    text-decoration: none;
    color: inherit;
    transition: color .5s ease;
    font-size: 20px;
}

#navbar-mobile {
    padding: 0px;
    background: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: fit-content;
}

#navbar-mobile > div:first-child {
    padding: 15px;
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#navbar-mobile > div:first-child > span {
    border-width: 5px;
    border-style: solid;
    width: 100%;
    transition: color .5s ease;
    z-index: 2;
}

#navbar-mobile > div:last-child {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    opacity: 100%;
    padding-bottom: 15px;
    width: 100%;
    position: relative;
    top: -250px;
}

#navbar-mobile div a {
    margin: 10px 15px;
}

/* welcome */

#section-welcome {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacityonload 2s ease;
}

#section-welcome div {
    color: #1A43B4;
}

#section-welcome > div > * {
    margin: 5px 0px;
}

#section-welcome p:first-child {
    font-size: 50px;
}

#section-welcome p:last-child {
    font-style: italic;
}

#section-welcome span {
    position: absolute;
    background-color: #e2e9fd;
    background-image: url(../img/firstbg.svg);
    height: 100%;
    width: 100%;
    background-size: 130% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: -1;
}

/* intro */

#section-intro {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-intro > div {
    color: #32A32F;
    padding: 15px;
    max-width: 100%;
}

#section-intro > div > * {
    margin: 5px 0px;
}

#section-intro span {
    position: absolute;
    background-color: #c8f9c7;
    background-image: url(../img/secondbg.svg);
    height: 100%;
    width: 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
}

/* projects */

#section-projects {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-projects > div {
    color: #C23E31;
    padding: 15px;
    max-width: 100%;
}

#section-projects > div > * {
    margin: 5px 0px;
}

#section-projects span {
    position: absolute;
    background-color: #f7d1ce;
    background-image: url(../img/thirdbg.svg);
    height: 100%;
    width: 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
}

/* socials */


#section-socials {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-socials > div {
    color: #CB6A37;
    padding: 15px;
    max-width: 100%;
}

#section-socials button {
    color: #CB6A37;
    border-color: #CB6A37;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-socials button:hover {
    background-color: #CB6A37;
    color: #f8cdb6;
}

#section-socials .buttons > div {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
}

#section-socials .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#section-socials > div > * {
    margin: 5px 0px;
}

#section-socials > span {
    position: absolute;
    background-color: #f8cdb6;
    background-image: url(../img/fourthbg.svg);
    height: 100%;
    width: 100%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
}

#section-socials .buttons > div span {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#section-socials .buttons button:hover span {
    filter: brightness(0) saturate(100%) invert(85%) sepia(21%) saturate(611%) hue-rotate(323deg) brightness(101%) contrast(95%);
}

#section-socials .buttons > div:first-child span {
    background-image: url(../img/icon/instagram.svg);
} 

#section-socials .buttons > div:nth-child(2) span {
    background-image: url(../img/icon/youtube.svg);
} 

#section-socials .buttons > div:last-child span {
    background-image: url(../img/icon/globe.svg);
} 

@media (min-width:576px) {
    #navbar {
        display: flex;
    }

    #navbar-mobile {
        display: none;
    }

    #section-socials .buttons > div {
        width: 50%;
    }

    #section-intro > div, #section-projects > div, #section-socials > div {
        width: 80%;
    }
}

@media (min-width:768px) {
    #section-intro > span, #section-projects > span, #section-socials > span {
        background-size: 100% 100%;
    }

    #section-intro > div, #section-projects > div, #section-socials > div {
        width: 50%;
    }
}

@media (min-width:992px) {
    #section-socials .buttons > div {
        width: 33%;
    }
}

@keyframes opacityonload {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes navbaropen {
    0% {
        opacity: 0%;
        top: -250px;
        display: flex;
    }

    100% {
        opacity: 100%;
        top: 0px;
    }
}

@keyframes navbarclose {
    0% {
        opacity: 100%;
        top: 0px;
    }

    100% {
        opacity: 0%;
        display: none;
        top: -200px;
    }
}